@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #F5FDFF;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 210px;
  background: #ffff;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 60px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo-wrapper{
  width: 40px;
  height: 50px;
  min-width: 60px;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.sidebar .logo-details .logo-wrapper img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: blue;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 15px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #3D5EE1;
}
.sidebar .nav-links li:hover i,
.sidebar .nav-links li:hover .link_name{
  color: white !important;
}
.sidebar .nav-links li:hover ul li a{
  color: white;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 60px;
  margin-top: -10px;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #333333;
  font-size: 13px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  background: #3D5EE1;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 16px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.home-section{
  position: relative;
  background: #efeef3;
  left: 210px; /* Changed from 240px to 190px */
  width: calc(100% - 210px); /* Changed from 240px to 190px */
  min-height: 100vh;
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 60px;
  width: calc(100% - 60px); 
}
.home-section .home-nav{
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  z-index: 100;
}
.home-section .home-nav .bx-menu,
.home-section .home-nav .text{
  color: #11101d;
  font-size: 30px;
}
.home-section .home-nav .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}

.icon-background{
  position: relative;
  width: 35px;
  height: 35px;  
  display: flex; justify-content: center; align-items: center;
  border-radius: 50px;
  background-color: #F7F6FB;
  box-shadow: #68688840 0px 30px 60px -12px inset, #8884844d 0px 18px 36px -18px inset;
}
.bx-bell{
  cursor: pointer;
  color: #373276;
  font-size: 20px;
}
.notification-wrapper{
  position: absolute;
  top: 150%;
  right: 0;
  width: 280px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.notification-wrapper.pop-noti{
  top: 110%;
  visibility: visible;
  opacity: 1;
}
.logout-btn{
  border: none;
  outline: none;
  background: none;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 60px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 60px;
    width: calc(100% - 60px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}
.left-nav{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

/* profile */

.profile-section{
  position: relative;
  display: flex;
  align-items: center;
  gap: 9px;
  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 9px;
    .name-job{
      display: flex;
      flex-direction: column;
      h5{
        font-weight: 500;
      }
      p{
        font-size: 10px;
        color: dodgerblue;
      }
    }
  }
  .bxs-chevron-down{
    cursor: pointer;
  }
}
.pro-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
  padding: 1px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

/* profile Dropdown */

.menu{
  position: absolute;
  left: -60px;
  width: 200px;
  height: auto;
  background-color: white;
  top: 135%;
  border-radius: 10px;
  padding: 10px;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
    list-style: none;
    transition: .5s;
    a{
      text-decoration: none;
      color: #11101d;
    }
    i{
      font-size: 20px;
    }
  }
  ul li:hover i{
    color: dodgerblue;
    a{
      color: dodgerblue !important;
    }
  }
  ul li:hover a{
    color: dodgerblue;
  }
}
.menu.popup{
  top: 125%;
  visibility: visible;
  opacity: 1;
}
.drop-logoutBtn{
  display: flex;
  align-items: center;
  gap: 10px;
  i{
    font-size: 20px;
  }
  a{
    font-size: 16px;
  }
}

.active{
  background-color: #3D5EE1;
}
.active a i, .active a span{
  color: white !important;
}
.active .iocn-link i{
  color: white !important;
}
.active .sub-menu li a{
  color: white !important;
}


/* All trash can icon of all page */
.delete-depart{
  cursor: pointer;
}